<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename = 'styling.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;300&display=swap" rel="stylesheet">
</head>


<body>
    <div class="splashnav">
        <img src="{{url_for('static', filename = 'images/onlytext.png')}}" alt="Vektors Logo" width="10%">
            <h2> Modify and try out dresses, anywhere, anytime!</h2>
    </div>
    <div id="buttons">
        <h2 id="GS">Get Started!</h2>
        <a href="Home.html">
            <button id="button-filled" >NEXT</button> 
        </a>
     </div>
    

</body>
</html>