<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename = 'styling.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;300&display=swap" rel="stylesheet">
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#tailorImg')
                    .attr('src', e.target.result)
                    .width(120)
                    .height(120);
            };

            reader.readAsDataURL(input.files[0]);
            document.getElementById("tailorLogo").style.display = "none";
            document.getElementById("tailorImg").style.display="block";
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#targetImg')
                    .attr('src', e.target.result)
                    .width(120)
                    .height(120);
            };

            reader.readAsDataURL(input.files[0]);
            document.getElementById("targetLogo").style.display = "none";
            document.getElementById("targetImg").style.display="block";
        }
    }
</script>

</head>


<body>
    <div class="topnav">
        <img src="{{url_for('static', filename = 'images/onlytext.png')}}" alt="Vektors Logo" width="10%">
    </div>
    <div class="main">
        <h2 id="GS">TailorMod</h2>
        <!-- <div class="option">
            <img src="{{url_for('static', filename = 'images/picture.png')}}" alt="texture_icon" >
            <h3 style="color:#A5A5A5;">Add Image</h3>
        </div> -->
        <!-- <a href="#TextureForm">   
        <div class="option">
            <img src="{{url_for('static', filename = 'images/addtexture.png')}}" alt="texture_icon" >
            <h3 style="color:#A5A5A5;">Add Texture</h3>
        </div> -->
        <form method=post enctype=multipart/form-data id="inputForm">
                
            <input id="uploadButtonTailor" type="file" name="SourceFileTailor" onchange="readURL(this);" autocomplete="off" required hidden>
            <label for="uploadButtonTailor">
                <img id="tailorLogo" src="{{url_for('static', filename = 'images/picture.png')}}" alt="tailor_icon" >
                <img id="tailorImg" src="#" alt="your image"/>
                <script>document.getElementById("tailorImg").style.display="none";</script>
                 <h3 style="color:#A5A5A5;">Add Source Image</h3>
            </label>
            <input id="uploadButtonImage" type="file" name="TargetFileTailor" onchange="readURL2(this);" autocomplete="off" required hidden>
            <label for="uploadButtonImage">
                <img id="targetLogo" src="{{url_for('static', filename = 'images/picture.png')}}" alt="tailor_icon" >
                <img id="targetImg" src="#" alt="your image"/>
                <script>document.getElementById("targetImg").style.display="none";</script>
        <h3 style="color:#A5A5A5;">Add Target Image</h3>
            </label>
            <div id="buttons">
                <input id="button-filled" type="submit" value="Submit">
            </div>
    </form>

        <a href="{{ url_for('tailor_result_html') }}">
        <div id="buttons">
            <button id="button-filled" >Transfer Collar!</button> 
        </div>
        </a>
     </div>


    

</body>
</html>